In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
crime_df = pd.read_csv('crime_std.csv')

NameError: name 'pd' is not defined

In [3]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50 non-null     int64
 1   Murder      50 non-null     float64
 2   Assault     50 non-null     float64
 3   UrbanPop    50 non-null     float64
 4   Rape        50 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 2.1 KB

In [4]:
crime_df.describe()

       Unnamed: 0     Murder    Assault   UrbanPop       Rape
count    50.00000  50.000000  50.000000  50.000000  50.000000
mean     24.50000   0.420964   0.430685   0.568475   0.360000
std      14.57738   0.262380   0.285403   0.245335   0.242025
min       0.00000   0.000000   0.000000   0.000000   0.000000
25%      12.25000   0.197289   0.219178   0.381356   0.200904
50%      24.50000   0.388554   0.390411   0.576271   0.330749
75%      36.75000   0.629518   0.698630   0.775424   0.487726
max      49.00000   1.000000   1.000000   1.000000   1.000000

In [5]:
crime_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [6]:
from sklearn.decomposition import PCA

In [7]:
pca = PCA(n_components=2)

crime_reduced = pca.fit_transform(crime_df)

In [8]:
crime_reduced

array([[ 0.29308154,  0.27317675],
       [ 0.49729939,  0.22549848],
       [ 0.46030222, -0.20137959],
       [-0.00600344,  0.27569832],
       [ 0.61201638, -0.40998459],
       [ 0.34232314, -0.26810129],
       [-0.36348715, -0.24833813],
       [ 0.04424396, -0.07374598],
       [ 0.80292705, -0.01467209],
       [ 0.44112938,  0.30157847],
       [-0.30290366, -0.37766352],
       [-0.41549962,  0.0656169 ],
       [ 0.36148248, -0.1749245 ],
       [-0.15214187, -0.03441924],
       [-0.59455652, -0.00489204],
       [-0.22060801, -0.05881063],
       [-0.18740047,  0.24339131],
       [ 0.43792654,  0.20613836],
       [-0.60487646,  0.11683089],
       [ 0.48885331,  0.08923308],
       [-0.14532396, -0.35208769],
       [ 0.53345734, -0.06264098],
       [-0.4630113 , -0.14021756],
       [ 0.33429193,  0.58581784],
       [ 0.15975247, -0.0751852 ],
       [-0.30430277,  0.14141152],
       [-0.33959922, -0.03685547],
       [ 0.69252524, -0.23003533],
       [-0.62185514,  0.01873538],
       [ 0.02230844, -0.3510684 ],
       [ 0.52396662,  0.01385429],
       [ 0.43334474, -0.21300254],
       [ 0.39608094,  0.54492591],
       [-0.76524871,  0.17403358],
       [-0.08949043, -0.18000113],
       [-0.08860002, -0.06756831],
       [-0.0155347 , -0.1425656 ],
       [-0.24572022, -0.12790573],
       [-0.21442947, -0.34552095],
       [ 0.40499281,  0.46525328],
       [-0.50351112,  0.21843682],
       [ 0.2614773 ,  0.1999315 ],
       [ 0.33808949, -0.11017699],
       [-0.18666089, -0.35920326],
       [-0.71076393,  0.36459428],
       [-0.02564732,  0.04996389],
       [-0.09128571, -0.24231072],
       [-0.5186541 ,  0.3702305 ],
       [-0.55918308, -0.12848921],
       [-0.14557342,  0.0874153 ]])