In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
uni_df = pd.read_csv('universities_std.csv')

NameError: name 'pd' is not defined

In [3]:
uni_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25 non-null     int64
 1   SAT         25 non-null     float64
 2   Top10       25 non-null     float64
 3   Accept      25 non-null     float64
 4   SFRatio     25 non-null     float64
 5   Expenses    25 non-null     float64
 6   GradRate    25 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 1.5 KB

In [4]:
uni_df.describe()

,Unnamed: 0,SAT,Top10,Accept,SFRatio,Expenses,GradRate
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,12.000000,0.637659,0.673333,0.331579,0.353684,0.340508,0.657333
std,7.359801,0.264292,0.269915,0.259570,0.214071,0.262887,0.301926
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,0.573171,0.638889,0.131579,0.263158,0.117293,0.466667
50%,12.000000,0.682927,0.736111,0.289474,0.315789,0.343515,0.766667
75%,18.000000,0.817073,0.861111,0.473684,0.421053,0.476864,0.900000
max,24.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
uni_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [6]:
from sklearn.decomposition import PCA

In [7]:
pca = PCA(n_components=2)

uni_reduced = pca.fit_transform(uni_df)

In [8]:
uni_reduced

array([[-2.96166713e-01, -2.59533811e-01],
       [-6.40645082e-01,  6.54507878e-01],
       [ 3.82328371e-01,  3.97587461e-01],
       [-1.87218585e-01,  7.76047325e-03],
       [-9.93095209e-02, -1.60819445e-01],
       [-4.47240964e-01, -9.43313837e-02],
       [-3.50699504e-01, -1.25168031e-01],
       [-1.01472084e-01, -2.25599346e-01],
       [-6.37144606e-01, -7.04722048e-02],
       [-3.01848812e-01,  5.17917563e-01],
       [-4.40630163e-01,  4.28372558e-02],
       [-1.12254779e-01, -1.85230245e-02],
       [-2.62787498e-02, -2.99976472e-01],
       [ 8.19882003e-01, -1.40210349e-01],
       [-5.68488756e-01, -1.02167852e-01],
       [ 1.35469943e+00,  1.38768795e-01],
       [-4.57419621e-01, -4.24665380e-02],
       [ 1.14850415e+00, -1.17761103e-02],
       [ 1.97654786e-01, -9.29277663e-02],
       [-2.64120206e-02,  1.68927321e-01],
       [ 4.81333413e-01, -9.88354745e-02],
       [-1.38001542e-01, -3.89849725e-02],
       [ 1.00148094e-01, -2.99205982e-01],
       [ 9.62938770e-01,  1.51565621e-01],
       [-6.16257520e-01,  1.12639474e-03]])