In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
book_df = pd.read_csv('book.csv')

NameError: name 'pd' is not defined

In [3]:
book_df.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

### Association Rule Mining using apyori

In [4]:
from apyori import apriori

In [9]:
rules_book = list(apriori(book_df, min_support=0.6, min_confidence=0.75))

In [11]:
rules_book

[RelationRecord(items=frozenset({'B', 'k'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B'}), items_add=frozenset({'k'}), confidence=1.0, lift=1.375), OrderedStatistic(items_base=frozenset({'k'}), items_add=frozenset({'B'}), confidence=0.875, lift=1.375)]),
 RelationRecord(items=frozenset({'s', 'B'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B'}), items_add=frozenset({'s'}), confidence=1.0, lift=1.375), OrderedStatistic(items_base=frozenset({'s'}), items_add=frozenset({'B'}), confidence=0.875, lift=1.375)]),
 RelationRecord(items=frozenset({'s', 'k'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'k'}), items_add=frozenset({'s'}), confidence=0.875, lift=1.203125), OrderedStatistic(items_base=frozenset({'s'}), items_add=frozenset({'k'}), confidence=0.875, lift=1.203125)]),
 RelationRecord(items=frozenset({'s', 'B', 'k'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B'}), items_add=frozenset({'s', 'k'}), confidence=1.0, lift=1.5714285714285714), OrderedStatistic(items_base=frozenset({'k'}), items_add=frozenset({'s', 'B'}), confidence=0.875, lift=1.375), OrderedStatistic(items_base=frozenset({'s'}), items_add=frozenset({'B', 'k'}), confidence=0.875, lift=1.375), OrderedStatistic(items_base=frozenset({'B', 'k'}), items_add=frozenset({'s'}), confidence=1.0, lift=1.375), OrderedStatistic(items_base=frozenset({'s', 'B'}), items_add=frozenset({'k'}), confidence=1.0, lift=1.375), OrderedStatistic(items_base=frozenset({'s', 'k'}), items_add=frozenset({'B'}), confidence=1.0, lift=1.5714285714285714)])]

#### movies

### Movies dataset

In [2]:
movies_df = pd.read_csv('movies.csv')

NameError: name 'pd' is not defined

In [8]:
movies_df.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [14]:
rules_movies = list(apriori(movies_df, min_support=0.4, min_confidence=0.5))

In [15]:
rules_movies

[]